# Homework : Workshop 1 - Data Ingestion

## Data Talks Club Data Engineering Zoomcamp Data Loading Workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

## Question 1: What is the sum of the outputs of the generator for limit = 5?

A: 10.23433234744176

B: 7.892332347441762

C: 8.382332347441762

D: 9.123332347441762

**Answer 1: C: 8.382332347441762**

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)
sum_gen = 0

for sqrt_value in generator:
    print(sqrt_value)
    sum_gen =  sum_gen + sqrt_value

print("sum of the outputs of the generator for limit = 5 ==>",sum_gen)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
sum of the outputs of the generator for limit = 5 ==> 8.382332347441762

## Question 2: What is the 13th number yielded by the generator?

A: 4.236551275463989

B: 3.605551275463989

C: 2.345551275463989

D: 5.678551275463989

**Answer 2: B: 3.605551275463989**

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

print(" 13th number yielded by the generator ==>",sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989
 13th number yielded by the generator ==> 3.605551275463989

## Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

### Install modules : dlt, dlt[duckdb], streamlit

In [3]:
# Install the dependencies
# %%capture
# !pip install dlt
# !pip install dlt[duckdb]
# !pip install "streamlit"

## Question 3: Append the 2 generators. After correctly appending the data, calculate the sum of all ages of people.

A: 353

B: 365

C: 378

D: 390

**Answer 3: A: 353**

In [4]:
# Generators
def people_1():
    for i in range(1, 6):

        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [5]:
# Load the first generator
import dlt

# Define the connection to load to.
generators_pipeline = dlt.pipeline(pipeline_name='people',destination='duckdb', dataset_name='people_dataset')

# Load the first generator above to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
                                        table_name="person",
                                        write_disposition="replace")

print(info)

Pipeline people load step completed in 2.83 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:///D:\ZDE\homework\people.duckdb location to store data
Load package 1707735173.510503 is LOADED and contains no failed jobs

In [6]:
# Append the second generator to the first table
info = generators_pipeline.run(people_2(),
                                        table_name="person",
                                        write_disposition="append")
print(info)

Pipeline people load step completed in 2.08 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:///D:\ZDE\homework\people.duckdb location to store data
Load package 1707735177.1726012 is LOADED and contains no failed jobs

In [7]:
# Select data
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('LOADED TABLES : ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n PERSON table :")

people_info = conn.sql("SELECT * FROM person").df()
display(people_info)

LOADED TABLES :

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ person              │
└─────────────────────┘

 PERSON table :

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A   1707735173.510503  2Y6NsjRMsE3BYw       None
1    2  Person_2   27  City_A   1707735173.510503  KOWSi6XELaXRtw       None
2    3  Person_3   28  City_A   1707735173.510503  TZ3UzPyAGqBHYw       None
3    4  Person_4   29  City_A   1707735173.510503  CV0dXpgMn8THTA       None
4    5  Person_5   30  City_A   1707735173.510503  N8csN9R7YzPs2g       None
5    3  Person_3   33  City_B  1707735177.1726012  GnEwfnJWrlO1hQ      Job_3
6    4  Person_4   34  City_B  1707735177.1726012  G+t7FFNg9NZuaQ      Job_4
7    5  Person_5   35  City_B  1707735177.1726012  Tt+hFZHEGLYBmQ      Job_5
8    6  Person_6   36  City_B  1707735177.1726012  DzFJV4RAmZHiLQ      Job_6
9    7  Person_7   37  City_B  1707735177.1726012  P5EJu8ajADRkdg      Job_7
10   8  Person_8   38  City_B  1707735177.1726012  pvftDpLFfOg+/A      Job_8

In [8]:
# Query
query_2 = "SELECT SUM(age) FROM person"
sum_ages = conn.sql(query_2).df()

display(sum_ages)

# 353

   sum(age)
0     353.0

## Merge a generator

Re-use the generators from Exercise (Question)2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

## Question 4: Merge the 2 generators using the ID column. Calculate the sum of ages of all the people loaded as described above.

A: 215

B: 266

C: 241

D: 258

**Answer 4: B: 266**

In [9]:
# Copy the above generators to reuse
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [10]:
# Load the first generator
import dlt

# Define the connection to load to.
generators_pipeline = dlt.pipeline(pipeline_name='people',destination='duckdb', dataset_name='people_dataset')

# Load the first generator above to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
                                        table_name="person",
                                        write_disposition="replace")

# Load the second generator to the first table with merge
info = generators_pipeline.run(people_2(),
                                        table_name="person",
                                        write_disposition="merge",
                                        primary_key='ID')

print(info)

Pipeline people load step completed in 1.21 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_dataset
The duckdb destination used duckdb:///D:\ZDE\homework\people.duckdb location to store data
Load package 1707735182.1674523 is LOADED and contains no failed jobs

In [11]:
# See the data
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('LOADED TABLES : ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n PERSON table:")

people_info = conn.sql("SELECT * FROM person").df()
display(people_info)

LOADED TABLES :

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ person              │
└─────────────────────┘

 PERSON table:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707735180.6086228  BQ4GkorU/IHhWQ       None
1   2  Person_2   27  City_A  1707735180.6086228  cw1AOdElUYdk2Q       None
2   7  Person_7   37  City_B  1707735182.1674523  150/5NZtWHq2QA      Job_7
3   5  Person_5   35  City_B  1707735182.1674523  1EKR9ZZnuYMvZg      Job_5
4   3  Person_3   33  City_B  1707735182.1674523  wP1xzeVUngk2Dg      Job_3
5   6  Person_6   36  City_B  1707735182.1674523  6gph36jpA3Xo/A      Job_6
6   4  Person_4   34  City_B  1707735182.1674523  WaEoAW3h+fURCQ      Job_4
7   8  Person_8   38  City_B  1707735182.1674523  n5lTVIJpu+A37g      Job_8

In [12]:
query_3 = "SELECT SUM(age) FROM people_info"
sum_ages = conn.sql(query_3).df()

display(sum_ages)

# 266

   sum(age)
0     266.0

In [13]:
%%time
show_tables = conn.sql("SHOW ALL TABLES").df()
display(show_tables)

,database,schema,name,column_names,column_types,temporary
0,people,people_dataset,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,people,people_dataset,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,people,people_dataset,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,people,people_dataset,person,"[id, name, age, city, _dlt_load_id, _dlt_id, o...","[BIGINT, VARCHAR, BIGINT, VARCHAR, VARCHAR, VA...",False
4,people,people_dataset_staging,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
5,people,people_dataset_staging,person,"[id, name, age, city, _dlt_load_id, _dlt_id, o...","[BIGINT, VARCHAR, BIGINT, VARCHAR, VARCHAR, VA...",False

CPU times: total: 78.1 ms
Wall time: 46 ms